@import "tailwindcss";

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
